@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap'));

header{
  background-color: aqua;
  text-align: center;
  font-size: 25px;
  font-family: 'Shantell Sans';
}

img{
  display: block;
  margin-left: 25px;
  
}

section {
  display: flex;
  flex-wrap: wrap;
}

section h2 {
  width: fit-content;
  background-color: aqua;
}

section div {
  max-width: 50%;
  background-color: aqua;
  
}
